.back-alert{
	width: 100%;
	max-width: 350px;
}
.form-alert{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
}
.form-alert div {
	padding: 15px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-alert label,.form-alert input{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-alert label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-alert input{
	padding: 10px 15px;
	margin-top: 10px;
}
.form-alert label span{
	color: red;
}
.form-alert .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
	background: none;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background-color: #97eaf8;
	cursor: pointer;
	border: 3px #97eaf8 solid;
	border-radius: 5px;
}
.form-alert .bot-send-mail:hover{
	color: #97eaf8;
	background-color: #fff;
}
